@import "tailwindcss";

@font-face {
    font-family: 'Vazirmatn';
    src: url('/assets/fonts/Vazirmatn-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kurenaido';
    src: url('/assets/fonts/ZenKurenaido-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

a {
    color: #6b21a8;
}

.features a {
    text-decoration: underline;
}

a.btn-download {
    color: white;
}

a.btn-download:hover {
    color: white;
}

a:hover {
    color: #a867dd;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #d0cee2;
    }

    a:hover {
        color: #9a6cbe;
    }
}
